/**
 * Custom CSS
 */

/**
 * Override bootstrap's style
*/

.table {
  margin-bottom: 0px;
}
.tab-content {
  margin: 0 0 10px;
}
.panel-body {
  padding: 0px;
  margin: 0 0 0px;
}

.panel-heading-choose-option {
  .clearfix;
  padding: 1px;
}

/**
 * Code snippets
 */
code, kbd, pre, samp, code[class*="language-"], pre[class*="language-"] {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
  margin: 0 0 0px;
  word-wrap: inherit;
  resize: vertical;
}
code[class*="language-none"] {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.dashed-line-highlight .line-highlight {
  border-bottom: 1px dashed hsl(0, 0%, 33%);
  border-top: 1px dashed hsl(0, 0%, 33%);
}
.line-highlight:before, .line-highlight[data-end]:after {
  color: black;
}
.scrollable_snippet {
  min-height: 818px;
  max-height: 818px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;

  padding-left: 10em;
}
span.glyphicon-triangle-right {
  font-size: 0.8em;
}
span.glyphicon-triangle-bottom {
  font-size: 0.8em;
}

/**
 * Tabs
 */
.nav-tabs > li .close {
  margin: -2px 0 0 10px;
}

/**
 * Tags
 */
.bootstrap-tagsinput {
  border-radius: 0px;
  border: 0px;
  width: 100%;
}
.bootstrap-tagsinput input {
  width: 100%;
}
.bootstrap-tagsinput .label {
  display: inline-block;
}
#scrollable-dropdown-menu .typeahead .dropdown-menu {
  max-height: 50px;
  overflow-y: auto;
}

.justification_textarea {
  resize: none;
}

