{% extends "_templates/base.twig" %}
{% block content %}

<h1>Examples</h1>

<ol>
  <li><a href="{{ constant('URL') }}example/progress_bar">Progress Bar</a></li>
  <li><a href="{{ constant('URL') }}example/multiple_choice_question">Multiple choice question about a Java snippet.</a></li>
  <li><a href="{{ constant('URL') }}example/filetree">Java snippet and a filetree with all its dependencies</a></li>
</ol>

{% endblock %}
