{% for error in s_errors %}
  <div class="alert alert-danger">
    <strong>Error:</strong> {{error}}
  </div>
{% endfor %}

{% for message in s_messages %}
  <div class="alert alert-success">
    <strong></strong> {{message}}
  </div>
{% endfor %}
